* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}
html {
  font-size:62.5%;
}
body {
  font:300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  background:#fff;
  color:#444;
  overflow-x: hidden;
  position: relative;
  z-index:0;
}


.container {
  max-width: 1200px;
	padding: 45px;
  margin: auto;
  @media only screen and (max-width : 480px) {
    padding: 20px;
  }

}